#messageWindow {
  background-color: var(--third-color);
  position: fixed;
  bottom: 0;
  height: 5rem;
  z-index: 1;
}
.messageList {
  padding-top: 6rem;
  padding-bottom: 5rem;
}

@media (max-width: 767px) {
}
