.welcome-sign {
  color: #fcfffc;
}

.login-section {
  position: fixed;
  top: 0;
  right: 0;
  height: 3rem;
  z-index: 1;
  text-align: right;
  cursor: pointer;
}

.welcome-header {
  color: #fcfffc;
}

.loginSection h6:hover {
  color: blue;
  cursor: pointer;
}

@media (max-width: 768px) {
  .loginSection {
    clear: both;
  }
}

@media (min-width: 768px) {
  .login-section {
    clear: both;
  }
}

@media (max-width: 767px) {
  .login-section {
    text-align: right;
  }
}
