.loginSection {
  position: fixed;
  height: 3rem;
  z-index: 1;
  text-align: right;
}

.loginSection h6:hover {
  color: blue;
  cursor: pointer;

}

  @media (max-width: 768px) {
    .loginSection {
      clear: both;
    }
}
