.loginSection {
  position: fixed;
  height: 3rem;
  z-index: 1;
  text-align: center;
}

.loginSection h6:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

@media (max-width: 767px) {
  .loginSection {
    clear: both;
    position: relative;
    text-align: left;
  }
}
