ul, li {
  list-style-type: none;
}

textarea {
  height: 100px;
  width: 85%;
}

.App {
  color: #050913;
  text-align: center;
}

.message-section {
  background-color: #70E4EF;
}

@media (min-width: 768px) {
  .main-row {
    min-height: 100%;
    display: flex;
  }


  .message-section {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 768px) {
  .main {
    background-color: #efe7d1;
  }

  .sidenav {
   overflow-x: hidden;
  }

}
