ul, li {
  list-style-type: none;
}

textarea {
  height: 100px;
  width: 85%;
}

.App {
  color: #050913;
  text-align: center;
}

.messageSection {
  background-color: orange;
}

.navbarDefault {
  background: none;
  border: none;
}

 @media (min-width: 768px) {
   .mainRow {
     min-height: 100%;
     display: flex;
   }

   .sideNav {
     background-color: purple;
     display: flex;
     flex-direction: column;
   }

   .messageSection {
     display: flex;
     flex-direction: column;
   }

   .navbarDefault {
     position: fixed;
     left: 0;
   }
 }

 @media (max-width: 767px) {
   .main {
    background-color: pink;
   }

   .sideNav .navbar {
     position: fixed;
     z-index: 2;
     top: 0;
     right: 0;
     left: 0;
     margin: 0;
   }

   .navbarDefault .navbarHeader, .navbarDefault .navbarCollapse {
     background-color: purple;
   }
 }
